
<% include header %>

<link rel="stylesheet" href="/css/applicationHome.css">

<div id="pageApplication"></div>

<script src="/js/bundle--vendor.js"></script>
<script src="/js/bundle--applicationHome.js"></script>



<% include footer %>
