.changePassword {
  background-color: rgba(255,255,255,0.1);
  border-radius: 2px;
  margin: 5px 0px;
}
.changePassword .changePasswordHeader {
  background-color: #111;
  padding: 20px 25px;
}
.changePassword .changePasswordHeader .changePasswordHeaderLeft {
  float: left;
}
.changePassword .changePasswordHeader .changePasswordHeaderLeft .changePasswordHeaderIcon {
  float: left;
  padding-right: 15px;
}
.changePassword .changePasswordHeader .changePasswordHeaderLeft .changePasswordHeaderTitle {
  float: left;
}
.changePassword .changePasswordHeader .changePasswordHeaderLeft .changePasswordHeaderTitle .changePasswordHeaderTitleName {
  font-weight: bold;
  font-size: 16px;
}
.changePassword .changePasswordHeader .changePasswordHeaderLeft .changePasswordHeaderTitle .changePasswordHeaderTitleDescription {
  opacity: 0.7;
}
.changePassword .changePasswordHeader .changePasswordHeaderRight {
  float: right;
}
.changePassword .changePasswordContent {
  padding: 20px 25px;
}
