.merchantView .merchantViewSnapshot {
  float: left;
  width: 300px;
  padding: 15px 20px;
  margin-right: 20px;
  background-color: rgba(255,255,255,0.1);
}
.merchantView .merchantViewSnapshot .merchantViewSnapshotPrimary {
  position: relative;
  padding-left: 10px;
  margin-bottom: 15px;
}
.merchantView .merchantViewSnapshot .merchantViewSnapshotPrimary .merchantViewSnapshotPrimaryTier {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 15px;
  background-color: #b4d455;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.merchantView .merchantViewSnapshot .merchantViewSnapshotPrimary .merchantViewSnapshotPrimaryName {
  font-size: 22px;
  font-weight: bold;
}
.merchantView .merchantViewSnapshot .merchantViewSnapshotPrimary .merchantViewSnapshotPrimaryId {
  color: #aaa;
  font-size: 14px;
}
.merchantView .merchantViewSnapshotSection {
  margin: 10px 0px;
  padding: 10px 15px;
  background-color: #111;
}
.merchantView .merchantViewSnapshotSection .merchantViewSnapshotSectionEntry {
  padding-bottom: 10px;
}
.merchantView .merchantViewSnapshotSection .merchantViewSnapshotSectionEntry .merchantViewSnapshotSectionEntryTitle {
  font-size: 11px;
  color: #999;
}
.merchantView .merchantViewSnapshotSection .merchantViewSnapshotSectionEntry .merchantViewSnapshotSectionEntryAnswer {
  font-size: 14px;
}
.merchantView .merchantViewContent {
  float: left;
  width: calc(100% - 320px);
}
.merchantView .merchantViewContent .merchantViewContentButton {
  float: left;
  width: calc(33.33% - 20px);
  background-color: rgba(255,255,255,0.1);
  text-align: center;
  padding: 15px 30px;
  margin: 0px 10px;
  margin-bottom: 20px;
}
.merchantView .merchantViewContent .merchantViewContentTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.merchantView .merchantViewContent .merchantViewContentSection {
  padding-bottom: 10px;
}
.merchantView .merchantViewContent .merchantViewContentSection .merchantViewContentSectionPaymentType {
  margin: 10px;
}
.merchantView .merchantViewContent .merchantViewContentSection .merchantViewContentSectionPaymentType .merchantViewContentSectionPaymentTypeAction {
  float: left;
  background-color: #091247;
  color: #fff;
  border-radius: 2px;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
}
.merchantView .merchantViewContent .merchantViewContentSection .merchantViewContentSectionPaymentType .merchantViewContentSectionPaymentTypeAction .merchantViewContentSectionPaymentTypeActionText {
  float: left;
  padding-top: 3px;
}
.merchantView .merchantViewContent .merchantViewContentSection .merchantViewContentSectionPaymentType .merchantViewContentSectionPaymentTypeAction .merchantViewContentSectionPaymentTypeActionIcon {
  float: left;
}
.merchantView .merchantViewContent .merchantViewContentSection .merchantViewContentSectionPaymentType .merchantViewContentSectionPaymentTypeAction .merchantViewContentSectionPaymentTypeActionIcon img {
  width: 30px;
  padding-left: 10px;
}
.merchantView .merchantViewContent .merchantViewContentSection .merchantViewContentSectionPaymentType .merchantViewContentSectionPaymentTypeActionSelected {
  background-color: #162bad;
}
.merchantView .merchantViewContent .merchantViewContentSection .merchantViewContentSectionGenerated {
  padding: 15px 20px;
  background-color: rgba(255,255,255,0.1);
  margin-bottom: 10px;
}
.merchantView .merchantViewContent .merchantViewContentSection .merchantViewContentSectionGenerated .merchantViewContentSectionGeneratedEntry {
  padding-bottom: 10px;
}
.merchantView .merchantViewContent .merchantViewContentSection .merchantViewContentSectionGenerated .merchantViewContentSectionGeneratedEntry .merchantViewContentSectionGeneratedEntryTitle {
  font-weight: bold;
  padding-bottom: 5px;
}
.merchantView .merchantViewContent .merchantViewContentSection .merchantViewContentSectionGenerated .merchantViewContentSectionGeneratedEntry .merchantViewContentSectionGeneratedEntryToggleSwitch {
  float: left;
}
.merchantView .merchantViewContent .merchantViewContentSection .merchantViewContentSectionGenerated .merchantViewContentSectionGeneratedEntry .merchantViewContentSectionGeneratedEntryToggleText {
  float: left;
  padding-left: 10px;
  padding-top: 4px;
}
.code {
  padding: 10px 15px;
  font-family: mono;
  line-height: 1.5;
  border-radius: 3px;
  border: 1px solid border-gray;
  background-color: #555;
  margin: 5px 0px;
}
