.account
  .accountInfo
    float left
    width 50%

    .accountInfoName
      font-size 26px
      font-weight bold

    .accountInfoCategory
      font-size 14px
      font-weight bold

    .accountInfoId
      font-size 12px
      opacity 0.8

  .accountAction
    float left
    width 50%

    pre
      background-color rgba(255,255,255,0.3)
      padding 10px 15px
