@import 'vars.styl'

@import 'Home.styl'
@import 'Navigation.styl'
@import 'Account.styl'
@import 'Payments.styl'
@import 'UserList.styl'

//Component
@import 'Modal.styl'
@import 'Toast.styl'
@import 'Financial.styl'
@import 'LoginForm.styl'
@import 'Breadcrumb.styl'
@import 'MerchantView.styl'
@import 'ChangePassword.styl'
@import 'EmailSettings.styl'
@import 'SecuritySettings.styl'
@import 'ProfileSettings.styl'

//Dependancies styles
@import 'ReactTable.styl'
@import 'ReactSelect.styl'
@import 'ReactToggle.styl'

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

*
  box-sizing border-box

body
  font-family 'Raleway', sans-serif
  background-attachment fixed
  color lighten(black, 15%)
  font-size 14px
  margin 0px
  padding 0px
  background #EEE
  //background linear-gradient(-180deg , #000 0%, #111 50%)

html, body {
    width: 100%;
    height: 100%;
}

body > div {
    //height: 100%;
    //overflow: scroll;
    //-webkit-overflow-scrolling: touch;
}

h1
  margin 20px 0

a
  padding 0px
  text-decoration none
  color inherit

input
  width 100%
  font-size: 14px;
  padding: 10px 15px;
  margin 5px 0px 10px 0px

pre
  font-family mono
  line-height 1.5
  border-radius 3px
  border 1px solid border-gray

button
  outline none
  border none
  padding 10px 15px
  border-radius 2px
  text-transform uppercase
  font-size 12px
  font-weight bold
  width 100%
  background-color #1A33CC
  color white
  cursor pointer

  &:hover
    background-color darken(#1A33CC, 10%)

button.negative
  background-color #999

  &:hover
    background-color darken(#999, 10%)

.hidden
  display none

.num
  font-family: 'Barlow Semi Condensed', sans-serif;

.page
  position absolute
  top 70px
  width 100%

  .pageInner
    padding 20px
    width 100%

.siteTitle
  display flex
  align-items center


  img
    display inline-block
    width 80px
    height 80px
    margin-right 20px


.hl
  font-weight bold
  color react-blue

.clear
  clear both

.hide
  display none

.App
  min-width 320px
  height 100%
  position absolute
  width 100%

  h1
    color react-blue
    font-weight 300
    font-size 52px

  p
    color white

.panelEntrance
  width 400px
  margin auto

.table
  border-radius 2px

  .tableHeader
    text-align center
    font-size 14px
    font-weight bold
    text-transform uppercase
    background-color #DDD
    padding 10px

  .tableInner
    //padding 15px 20px
    background-color #FFF

  .tableHighlight
    background-color #b4d455
