.changePassword
  background-color rgba(255,255,255,0.1)
  border-radius 2px
  margin 5px 0px

  .changePasswordHeader
    background-color #111
    padding 20px 25px

    .changePasswordHeaderLeft
      float left

      .changePasswordHeaderIcon
        float left
        padding-right 15px

      .changePasswordHeaderTitle
        float left

        .changePasswordHeaderTitleName
          font-weight bold
          font-size 16px

        .changePasswordHeaderTitleDescription
          opacity 0.7

    .changePasswordHeaderRight
      float right

  .changePasswordContent
    padding 20px 25px
