.loginFormTabs
  .loginFormTab
    float left
    background-color white
    border-radius 2px
    padding 10px 15px
    margin-right 1px
    font-weight bold
    text-transform uppercase

.loginForm
  background-color white
  border-radius 2px
  padding 15px 20px

  .loginFormIcon
    padding-bottom 15px

    img
      width 180px

  .loginFormTitle
    font-weight bold
    font-size 16px
    text-transform uppercase
    padding-bottom 10px

  .loginFormField
    padding 5px 0px

    .loginFormFieldTitle
      font-weight bold

  .loginFormFieldForgotPassword
    text-decoration underline
    padding-bottom 10px

  .loginFormError
    padding 10px 0px
