.navigation
  position absolute
  height 70px
  width 100%
  background-color #FFF
  border-bottom 1px solid #CCC

  .navigationLogo
    float left
    padding 13px 20px

    img
      height 43px

  .navigationDashboardIndicator
    float left
    text-transform uppercase
    margin-top 18px
    font-weight bold
    border-left 1px solid #BBB
    padding-left 15px

  .navigationEntries
    float left
    padding-left 30px

    .navigationEntry
      float left
      padding 10px 16px
      text-transform capitalize
      margin-top 14px
      font-size 16px

      &:hover
        color #BBB

  .navigationLogout
    float right
    width 120px
    padding 10px
    margin-top 8px
